data_handler_config: &data_handler_config
  start_time: {{train_start}}
  end_time: {{test_end}}
  fit_start_time: {{train_start}}
  fit_end_time: {{train_end}}
  instruments: {{market}}
  infer_processors:
    - class: FilterCol
      kwargs:
        fields_group: feature
        col_list: ["RESI5", "WVMA5", "RSQR5", "KLEN", "RSQR10", "CORR5", "CORD5", "CORR10", 
                      "ROC60", "RESI10", "VSTD5", "RSQR60", "CORR60", "WVMA60", "STD5", 
                      "RSQR20", "CORD60", "CORD10", "CORR20", "KLOW"
                    ]
    - class: RobustZScoreNorm
      kwargs:
        fields_group: feature
        clip_outlier: true
    - class: Fillna
      kwargs:
        fields_group: feature
  learn_processors:
    - class: DropnaLabel
    - class: CSRankNorm
      kwargs:
        fields_group: label

task:
  model:
    class: GATs
    module_path: qlib.contrib.model.pytorch_gats_ts
    kwargs:
      d_feat: 20
      hidden_size: 64
      num_layers: 2
      dropout: 0.7
      n_epochs: 200
      lr: 1e-4
      early_stop: 10
      metric: loss
      loss: mse
      base_model: LSTM
      model_path: "/users/ljiayong/projects/qlib/examples/benchmarks/LSTM/csi300_lstm_ts.pkl"
      GPU: 0
  dataset:
    class: TSDatasetH
    module_path: qlib.data.dataset
    kwargs:
      handler:
        class: Alpha158
        module_path: qlib.contrib.data.handler
        kwargs: *data_handler_config
      segments:
        train: [{{train_start}}, {{train_end}}]
        valid: [{{valid_start}}, {{valid_end}}]
        test:  [{{test_start}},  {{test_end}} ]
      step_len: 20
  record: 
    - class: SignalRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        model: <MODEL>
        dataset: <DATASET>
    - class: SigAnaRecord
      module_path: qlib.workflow.record_temp
    - class: PortAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        config: {{port_analysis_config}}
        N: {{steps_per_year}}