data_handler_config: &data_handler_config
  start_time: {{train_start}}
  end_time: {{test_end}}
  fit_start_time: {{train_start}}
  fit_end_time: {{train_end}}
  instruments: {{market}}

task:
  model:
    class: LGBModel
    module_path: qlib.contrib.model.gbdt
    kwargs:
      loss: mse
      colsample_bytree: 0.9
      learning_rate: 0.1
      subsample: 0.9
      lambda_l1: 205.6999
      lambda_l2: 580.9768
      max_depth: 8
      num_leaves: 250
      num_threads: 20
  dataset:
    class: DatasetH
    module_path: qlib.data.dataset
    kwargs:
      handler:
        class: Alpha158
        module_path: qlib.contrib.data.handler
        kwargs: *data_handler_config
      segments:
        train: [{{train_start}}, {{train_end}}]
        valid: [{{valid_start}}, {{valid_end}}]
        test:  [{{test_start}},  {{test_end}} ]
  record: 
    - class: SignalRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        model: <MODEL>
        dataset: <DATASET>
    - class: SigAnaRecord
      module_path: qlib.workflow.record_temp
    - class: PortAnaRecord
      module_path: qlib.workflow.record_temp
      kwargs: 
        config: {{port_analysis_config}}
        N: {{steps_per_year}}
